* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body {
    height: 100%;
    width: 100%;
    background-color: violet;
  }
  #gamesec {
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 2%;
  }

  #gamename {
    background-color: black;
    height: 30px;
    font-weight: bolder;
    color: white;
    font-size: larger;
    

  }
  #gameplay {
    height: 60px;
    font-size: 30px;
  }
  #inputfield {
    height: 70px;
  }
  .box {
    height: 100%;
    font-size: 30px;
    width: 60%;
    box-shadow: 1px 1px 2px black, -2px -2px 3px white;
  }
  .btn {
    width: 100px;
  }

  span {
    color: red;
  }
  #hint {
    background-color: black;
    color: white;
  }